:root {
    --main-color: #C00000;
    --sub-color: #a6bdf3;
}

.forgot-content {
    border: solid 1px lightgray;
    border-radius: 1rem;
    padding-bottom: 2rem;
    width: 35%;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 35%;
}

.forgot-input {
    border: lightgray 1px solid;
    height: 3rem;
    width: 70%;
    color: gray;
    border-radius: 0.5rem;
    margin: 2rem auto auto 4.5rem;
}

.forgot-input:focus {
    outline: none;
}

.forgot-input:hover {
    outline: 0.5px solid var(--main-color);
    box-shadow: 3px 2px 4px -1px gray;
}

.finding-btn {
    width: 74%;
    height: 2.5rem;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
    margin: 1rem auto auto 4rem;
}

.finding-btn:hover {
    box-shadow: 4px 3px 9px -1px gray;
}

.finding-link {
    text-decoration: none;
}

#changePw-btn {
    margin-top: 1rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}

#changePw-btn:hover {
    box-shadow: 4px 3px 9px -1px gray;
}