:root {
    --main-color: #C00000;
    --sub-color: #a6bdf3;
}

.main-forgot {
    min-height: 100vh;
    min-width: 100vh;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
}

.forgot-contain {
    height: 55vh;
    width: 40%;
    background: linear-gradient(to right bottom, rgba(236, 236, 236, 0.7), rgba(236, 236, 236, 0.4));
    border-radius: 3rem;
    margin: 4rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-content {
    margin: 3rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forgot-inputGroup{
    width: 100%;
    position: relative;
}
.forgot-input{
    display: block;
    border: none;
    height: 3rem;
    width: 65%;
    border-radius: 0.5rem;
    color: gray;
    margin: 1.5rem auto 1rem auto;
}
.forgot-input:focus{
    outline:none;
    border:none;
}
.forgot-input:hover{
    outline: 0.5px solid var(--main-color);
    box-shadow: 4px 3px 9px -1px gray;
}


.finding-btn{
    width: 65%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}
.finding-btn:hover{
    box-shadow: 4px 3px 9px -1px gray;
}

.finding-link{
    text-decoration: none;
}

#emailAuth-btn{
    margin-top: 2rem;   
    width: 65%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}
#emailAuth-btn:hover{
    box-shadow: 4px 3px 9px -1px gray;
}