:root {
    --main-color: #C00000;
    --sub-color: #e8b9c9;
}

.login-content {
    text-align: center;
    margin: 12rem 34rem;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.login-header {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
}

.img-class {
    height: 4rem;
}

#img-id {
    height: 100%;
    object-fit: cover;
}

#register-link {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
}

#register-link:hover {
    color: var(--main-color);
}

#forgot-link {
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
}

#forgot-link:hover {
    color: gray;
}

.login-input {
    display: block;
    border: lightgray 1px solid;
    height: 2.5rem;
    width: 90%;
    color: gray;
    margin: 0.5rem auto auto auto;
}

.login-input:focus {
    outline: none;
    /* border: none; */
}

.login-input:hover {
    outline: 0.5px solid var(--main-color);
    box-shadow: 3px 2px 4px -1px gray;
}

#login-btn {
    width: 95%;
    height: 2.5rem;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
    margin-top: 1rem;
    margin-left: 0.55rem;
}

#login-btn:hover {
    box-shadow: 4px 3px 9px -1px gray;
    /* transform: translateY(-5px); */
}

.login-footer {
    display: inline-block;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;

}