
.landing-loginContent {
    margin-top: 2rem;
    height: 100%;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.landing-header{
    text-align: center;
}
.img-class {
    height: 3rem;
}

#img-id {
    height: 100%;
    object-fit: cover;
}

#landing-loginBtn {
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    background: white;
    color: rgb(99, 98, 98);
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    box-shadow: 4px 3px 9px -1px gray;
}

#landing-signUpBtn {
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 3px 9px -1px gray;
}
#landing-loginBtn:hover {
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}

#landing-signUpBtn:hover {
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}
.admin-login{
    color: rgb(99, 98, 98);
    font-weight: bold;
    text-decoration: none;
    font-size: 0.7rem;
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}
.admin-login:hover{
    text-decoration: underline;
}

.schoolSearch-contain{
    margin-top: 3rem;
    border: none;
    border-radius: 1rem;
    height: 29rem;
    width: 16rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
    justify-content: center;
    align-items: center;
}
.schoolSearch-content{
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}