.certification-content {
    border: solid 1px lightgray;
    border-radius: 1rem;
    padding-bottom: 2rem;
    width: 30%;
    justify-content: center;
    ;
    margin-top: 1rem;
    margin-left: 35%;
}

.email-txf {
    width: 30%;

}

.code-txf {
    width: 36%;
}

#send-btn {
    color: white;
    border: none;
    cursor: pointer;
    background: grey;
    box-shadow: 2px 2px 3px -1px gray;
    border-radius: 0.2rem;
    height: 54px;
    margin-left: 8px;

}

/* .send-btn:hover{
    box-shadow: 4px 3px 9px -1px gray;
} */

#confirm-btn {
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 90%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
}

#confirm-btn:hover {
    box-shadow: 4px 3px 9px -1px gray;
}